[submodule "modules/compiler"]
	path = modules/compiler
	url = https://git.code.sf.net/p/loader/code
  branch = compilers
[submodule "modules/bats"]
	path = modules/bats
	url = https://github.com/sstephenson/bats
  branch = develop
